<section id="about" class="section container-xl">
    <h2 class="heading-2  text-slate-600 dark:text-slate-300/95">About Me</h2>
    <div class="mt-8 card p-6 md:p-8 text-slate-300 leading-7 dark:card light:light-card">
        <p>
            I’m a Senior Software Engineer with over six years of experience in backend development. I specialize in
            Java, Spring Boot,
            and microservices, and I’ve led cloud migration projects using AWS. In my recent role at Enterprise
            Mobility, I upgraded
            Spring-based applications, migrated batch jobs to the cloud with S3 storage, and modernized SOAP services
            into secure
            REST APIs.
            I’ve worked with messaging tools like ActiveMQ and RabbitMQ, used Redis for caching, and used Hibernate with
            PostgreSQL
            and Oracle for data persistence. I’m experienced with CI/CD pipelines using Jenkins and Bitbucket, and I
            always focus on
            scalable architecture, clean code, and secure APIs.
            I hold an Msc. Computer Science from Maharishi International University, Fairfield IA, USA and I’m
            AWS Certified.
    </div>
</section>